.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
nav p {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.errors {
  color: red;
  font-weight: bold;

  margin-top: -10px;
}

.image-text {
  font-size: 1.5rem;
}

/* .rank {
  font-size: 1.5rem !important;
  color: #fff;
}

.rank-number {
  font-size: 3rem;
} */
