.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
nav p {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.errors {
  color: red;
  font-weight: bold;

  margin-top: -10px;
}

.main-container {
}
.image-text {
  font-size: 1.5rem;
}

/* .rank {
  font-size: 1.5rem !important;
  color: #fff;
}

.rank-number {
  font-size: 3rem;
} */

@media only screen and (max-width: 569px) {
  .image-text {
    font-size: 0.75rem;
  }
  .rank {
    font-size: 1rem !important;
  }
  .rank-number {
    font-size: 1rem;
  }
  article {
    width: 80% !important;
  }

  button {
    font-size: 1rem;
  }
  nav p {
    font-size: 0.75rem !important;
  }
  .form {
    padding: 1rem !important;
  }
  .image-form {
  }
}
